@import "_utils.scss";

// Editorial
.comingsoonSticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  bottom: auto;
  @apply max-md:relative;
}

#editorial-slider {
  .editorialCard {
    position: relative;
    width: calc(100% / 5);
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
  #scrollIndicator.hide {
    @media screen and (min-width: "600px") {
      opacity: 0;
    }
  }
}

// Issue
$card-width: 335px;
$card-height: $card-width / 18 * 24;

.article-card {
  // max-width: $card-width;
  height: $card-height;
  width: $card-width;
  aspect-ratio: 18 / 24;
  @include mobile {
    $card-width: 280px;
    $card-height: $card-width / 18 * 25;
    aspect-ratio: 18 / 25;
    height: $card-height;
    width: $card-width;
  }
}

$issuecard-width: $card-width + 40px;
$issuecardgap: 40px;
#search-results {
  //Grid Setting
  // @apply flex flex-wrap justify-center;
  @apply grid grid-cols-3 grid-rows-none gap-8;
  @apply mx-auto;
  @media (min-width: 880px) and (max-width: 1275px) {
    @apply grid-cols-2;
  }
  @media (max-width: 879px) {
    @apply grid-cols-1;
  }
}

// ISSUE LIST
.issue_container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible !important;
  white-space: nowrap;
  position: relative;
  & > .spacer {
    content: "";
    display: block;
    width: calc((100vw - #{$card-width + 40px}) / 2);
    height: 100%;
    position: relative;
    flex-shrink: 0;
    @include mobile {
      $card-width: 280px;
      width: calc((100vw - #{$card-width + 40px}) / 2);
    }
  }

  &.noscroll {
    justify-content: center;
    &::before,
    &::after {
      width: 0px;
    }
  }
  & .article_wrapper {
    padding: 30px 0px;
    margin: 0px 20px;
    @include mobile {
      padding: 20px 0px;
    }
    & > a {
      display: block;
    }
  }
}

.issueindicator.noscroll {
  transform: translateX(-50%) !important;
  left: 50%;
}

// ARTICLE CAROUSEL

.thumbnail-swipe .swiper-slide:not(.swiper-slide-thumb-active) {
  opacity: 0.5;
  @apply transition-opacity duration-300;
  &:hover {
    opacity: 1;
  }
}

// SWIPER
.swiper-pagination-bullets {
  display: none;
}

#swipe-caroussel .swiper-slide {
  @apply w-56 max-md:w-36 #{!important};
}

#swipe-editorial {
  .swiper-slide {
    width: 384px;
    & .article_wrapper {
      @apply px-3 py-6;
      & > a {
        @apply transition-transform duration-300 block relative;
      }
      &.prev-2 > a {
        transform: rotateZ(-4deg) translate(0, 20px);
      }
      &.prev-1 > a {
        transform: rotateZ(-2.5deg) translate(0, 5px);
      }
      &.next-1 > a {
        transform: rotateZ(2.5deg) translate(0, 5px);
      }
      &.next-2 > a {
        transform: rotateZ(4deg) translate(0, 20px);
      }
    }
  }
}
