@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-BlackItalic.eot');
  src: url('/fonts/WhyteInktrap-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-BlackItalic.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-BlackItalic.woff') format('woff'),
      url('/fonts/WhyteInktrap-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-BoldItalic.eot');
  src: url('/fonts/WhyteInktrap-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-BoldItalic.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-BoldItalic.woff') format('woff'),
      url('/fonts/WhyteInktrap-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-Bold.eot');
  src: url('/fonts/WhyteInktrap-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-Bold.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-Bold.woff') format('woff'),
      url('/fonts/WhyteInktrap-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap Book';
  src: url('/fonts/WhyteInktrap-Book.eot');
  src: url('/fonts/WhyteInktrap-Book.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-Book.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-Book.woff') format('woff'),
      url('/fonts/WhyteInktrap-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap Book';
  src: url('/fonts/WhyteInktrap-BookItalic.eot');
  src: url('/fonts/WhyteInktrap-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-BookItalic.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-BookItalic.woff') format('woff'),
      url('/fonts/WhyteInktrap-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-Black.eot');
  src: url('/fonts/WhyteInktrap-Black.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-Black.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-Black.woff') format('woff'),
      url('/fonts/WhyteInktrap-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-ExtraLightItalic.eot');
  src: url('/fonts/WhyteInktrap-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-ExtraLightItalic.woff') format('woff'),
      url('/fonts/WhyteInktrap-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-ExtraLight.eot');
  src: url('/fonts/WhyteInktrap-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-ExtraLight.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-ExtraLight.woff') format('woff'),
      url('/fonts/WhyteInktrap-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-Heavy.eot');
  src: url('/fonts/WhyteInktrap-Heavy.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-Heavy.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-Heavy.woff') format('woff'),
      url('/fonts/WhyteInktrap-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-HeavyItalic.eot');
  src: url('/fonts/WhyteInktrap-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-HeavyItalic.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-HeavyItalic.woff') format('woff'),
      url('/fonts/WhyteInktrap-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-MediumItalic.eot');
  src: url('/fonts/WhyteInktrap-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-MediumItalic.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-MediumItalic.woff') format('woff'),
      url('/fonts/WhyteInktrap-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-Light.eot');
  src: url('/fonts/WhyteInktrap-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-Light.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-Light.woff') format('woff'),
      url('/fonts/WhyteInktrap-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-LightItalic.eot');
  src: url('/fonts/WhyteInktrap-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-LightItalic.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-LightItalic.woff') format('woff'),
      url('/fonts/WhyteInktrap-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-Italic.eot');
  src: url('/fonts/WhyteInktrap-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-Italic.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-Italic.woff') format('woff'),
      url('/fonts/WhyteInktrap-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-Medium.eot');
  src: url('/fonts/WhyteInktrap-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-Medium.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-Medium.woff') format('woff'),
      url('/fonts/WhyteInktrap-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap Super';
  src: url('/fonts/WhyteInktrap-SuperItalic.eot');
  src: url('/fonts/WhyteInktrap-SuperItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-SuperItalic.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-SuperItalic.woff') format('woff'),
      url('/fonts/WhyteInktrap-SuperItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-Regular.eot');
  src: url('/fonts/WhyteInktrap-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-Regular.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-Regular.woff') format('woff'),
      url('/fonts/WhyteInktrap-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-ThinItalic.eot');
  src: url('/fonts/WhyteInktrap-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-ThinItalic.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-ThinItalic.woff') format('woff'),
      url('/fonts/WhyteInktrap-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('/fonts/WhyteInktrap-Thin.eot');
  src: url('/fonts/WhyteInktrap-Thin.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-Thin.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-Thin.woff') format('woff'),
      url('/fonts/WhyteInktrap-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Whyte Inktrap Super';
  src: url('/fonts/WhyteInktrap-Super.eot');
  src: url('/fonts/WhyteInktrap-Super.eot?#iefix') format('embedded-opentype'),
      url('/fonts/WhyteInktrap-Super.woff2') format('woff2'),
      url('/fonts/WhyteInktrap-Super.woff') format('woff'),
      url('/fonts/WhyteInktrap-Super.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-Bold.eot');
  src: url('/fonts/FavoritPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FavoritPro-Bold.woff2') format('woff2'),
      url('/fonts/FavoritPro-Bold.woff') format('woff'),
      url('/fonts/FavoritPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-BoldItalic.eot');
  src: url('/fonts/FavoritPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FavoritPro-BoldItalic.woff2') format('woff2'),
      url('/fonts/FavoritPro-BoldItalic.woff') format('woff'),
      url('/fonts/FavoritPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Favorit Pro Book';
  src: url('/fonts/FavoritPro-Book.eot');
  src: url('/fonts/FavoritPro-Book.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FavoritPro-Book.woff2') format('woff2'),
      url('/fonts/FavoritPro-Book.woff') format('woff'),
      url('/fonts/FavoritPro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-Light.eot');
  src: url('/fonts/FavoritPro-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FavoritPro-Light.woff2') format('woff2'),
      url('/fonts/FavoritPro-Light.woff') format('woff'),
      url('/fonts/FavoritPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Favorit Pro Book';
  src: url('/fonts/FavoritPro-BookItalic.eot');
  src: url('/fonts/FavoritPro-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FavoritPro-BookItalic.woff2') format('woff2'),
      url('/fonts/FavoritPro-BookItalic.woff') format('woff'),
      url('/fonts/FavoritPro-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-Italic.eot');
  src: url('/fonts/FavoritPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FavoritPro-Italic.woff2') format('woff2'),
      url('/fonts/FavoritPro-Italic.woff') format('woff'),
      url('/fonts/FavoritPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-Medium.eot');
  src: url('/fonts/FavoritPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FavoritPro-Medium.woff2') format('woff2'),
      url('/fonts/FavoritPro-Medium.woff') format('woff'),
      url('/fonts/FavoritPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-LightItalic.eot');
  src: url('/fonts/FavoritPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FavoritPro-LightItalic.woff2') format('woff2'),
      url('/fonts/FavoritPro-LightItalic.woff') format('woff'),
      url('/fonts/FavoritPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-MediumItalic.eot');
  src: url('/fonts/FavoritPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FavoritPro-MediumItalic.woff2') format('woff2'),
      url('/fonts/FavoritPro-MediumItalic.woff') format('woff'),
      url('/fonts/FavoritPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-Regular.eot');
  src: url('/fonts/FavoritPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/FavoritPro-Regular.woff2') format('woff2'),
      url('/fonts/FavoritPro-Regular.woff') format('woff'),
      url('/fonts/FavoritPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Alegreya';
  src: url('/fonts/Alegreya-Regular.eot');
  src: url('/fonts/Alegreya-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Alegreya-Regular.woff2') format('woff2'),
      url('/fonts/Alegreya-Regular.woff') format('woff'),
      url('/fonts/Alegreya-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Alegreya';
  src: url('/fonts/Alegreya-Italic.eot');
  src: url('/fonts/Alegreya-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Alegreya-Italic.woff2') format('woff2'),
      url('/fonts/Alegreya-Italic.woff') format('woff'),
      url('/fonts/Alegreya-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

