@import "_utils.scss";

#link {
  @apply cursor-pointer px-3 bg-lightGray bg-opacity-70;
  border-top-right-radius: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100000;

  a {
    @apply py-2;
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;

    &:hover {
      .dropdown-content {
        display: block;
      }
    }

    .dropdown-content {
      margin-left: -0.75rem;
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
    }
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  @apply flex;
  min-height: 100vh;
  flex-flow: column;
  & footer {
    margin-top: auto;
  }
}

.stickyButton {
  & .pillbutton {
    & .arrow * {
      fill: $gray;
      @apply transition-all;
    }
    &:hover {
      & .arrow * {
        fill: white !important;
      }
    }
  }
}

h1.titlestyle {
  @apply m-0 flex max-md:flex-wrap justify-center items-start max-md:items-end font-sans font-normal flex-wrap;
  margin-bottom: 1px;
  & .sub {
    @apply text-6xl max-md:text-3xl mt-2.5 mb-0 mx-4 font-serif italic font-normal;
  }
}

// Issue

$card-width: 360px;
$card-height: 480px;
.article-card {
  // max-width: $card-width;
  width: $card-width;
  height: $card-height;
  aspect-ratio: 18 / 24;
}

$issuecard-width: $card-width + 40px;
$issuecardgap: 40px;
#search-results {
  @apply grid grid-flow-row grid-cols-3 grid-rows-none max-md:grid-cols-1;
  grid-gap: $issuecardgap;
  max-width: $issuecard-width * 3 + $issuecardgap * 2;
}

// ISSUE LIST
.issue_container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible !important;
  white-space: nowrap;
  &::before,
  &::after {
    content: "";
    display: block;
    width: calc((100vw - #{$card-width + 20px}) / 2);
    height: 100%;
    flex-shrink: 0;
  }

  &.noscroll {
    justify-content: center;
    &::before,
    &::after {
      width: 0px;
    }
  }
  & .article_wrapper {
    padding: 30px 0px;
    & > a {
      display: block;
    }
  }
}

.issueindicator.noscroll {
  transform: translateX(-50%) !important;
  left: 50%;
}

// Family

.family-card {
  @apply block;
  position: relative;
  width: calc(100% / 8);
  @include tablet {
    width: calc(100% / 5);
  }
  @include mobile {
    width: calc(100% / 3);
  }
  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  & > div:last-child {
    @apply transition-all duration-300;
    opacity: 0;
  }
  &.show {
    & > div:last-child {
      opacity: 1;
    }
  }
}

#family-button {
  & > a {
    display: block;
    flex-grow: 1;
    min-width: calc(100% / 3);
    max-width: calc(100% - 48px);
    margin-top: -1px;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0px;
    }
    &:nth-child(1),
    &:nth-child(3n - 2) {
      left: 24px;
    }
    &:nth-child(3n + 2) {
      // right: 24px;
    }
    &:nth-child(3n) {
      right: 24px;
    }
    &:last-child:nth-child(3n + 2) {
      right: 24px;
    }
  }
}

#family-logo {
  aspect-ratio: 1;
}

// UTILS
#social {
  & > a {
    position: relative;
    width: 100%;
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}
