@import '_utils.scss';

#link {
  @apply cursor-pointer px-3 bg-lightGray bg-opacity-70;
  border-top-right-radius: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100000;

  a {
    @apply py-2;
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;

    &:hover {
      .dropdown-content {
        display: block;
      }
    }

    .dropdown-content {
      margin-left: -0.75rem;
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
    }
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.stickyButton {
  & .pillbutton {
    & .arrow * {
      fill: $gray;
      @apply transition-all;
    }
    &:hover {
      & .arrow * {
        fill: white !important;
      }
    }
  }
}

h1.titlestyle {
  @apply m-0 flex max-md:flex-wrap justify-center items-start max-md:items-end font-sans font-normal;
  margin-bottom: 1px;
  & .sub {
    @apply text-6xl max-md:text-3xl mt-2.5 mb-0 mx-4 font-serif italic font-normal;
  }
}

$card-width: 360px;
$card-height: 480px;
.article-card {
  // max-width: $card-width;
  width: $card-width;
  height: $card-height;
  aspect-ratio: 18 / 24;
}

$issuecard-width: $card-width + 40px;
$issuecardgap: 40px;
#search-results {
  @apply grid grid-flow-row grid-cols-3 grid-rows-none max-md:grid-cols-1;
  grid-gap: $issuecardgap;
  max-width: $issuecard-width * 3 + $issuecardgap * 2;
}

