#nxtNavigation {
  flex-flow: nowrap;
  & > * {
    display: block;
    flex-grow: 1;
    width: calc((100% + (28px * 5)) / 5);
    margin-top: -1px;

    margin-left: -28px;
    // FIRST CARD
    &:nth-child(1) {
      z-index: 1;
      margin-left: 0px;
    }
    &:nth-child(2) {
      z-index: 2;
    }
    // FIRST CARD
    &:nth-child(3) {
      z-index: 3;
    }
    // FIRST CARD
    &:nth-child(4) {
      z-index: 4;
    }
    // FIRST CARD
    &:nth-child(5) {
      z-index: 4;
    }
  }
}

.collaborators-border {
  & > * {
    border-bottom: solid 1px white;
    border-right: solid 1px white;

    &:nth-child(3n) {
      border-right: 0px;
    }
    &:nth-last-child(1),
    &:nth-last-child(2):not(:nth-child(3n)),
    &:nth-last-child(3):not(:nth-child(3n)):not(:nth-child(2n)) {
      border-bottom: 0px;
    }
  }
}

.menu-icon {
  width: 12px;
  height: 12px;
  position: relative;
  & > div {
    position: absolute;
    width: 12px;
    height: 1px;
    left: 50%;
    top: 50%;
    transition: margin-top 0.05s ease 0.125s, transform 0.15s ease 0s;
    transform-origin: 50% 50%;
    &:first-child {
      transform: translate(-50%, -50%);
      margin-top: 3px;
    }
    &:last-child {
      transform: translate(-50%, -50%);
      margin-top: -3px;
    }
  }

  &.open {
    & > div {
      transition: margin-top 0.05s ease, transform 0.15s ease 0.04s;
      &:first-child {
        margin-top: 0px;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:last-child {
        margin-top: 0px;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &.white {
    & > div {
      background: white;
    }
  }
  &.black {
    & > div {
      background: black;
    }
  }
}