#nxtNavigation {
  flex-flow: nowrap;
  & > * {
    display: block;
    flex-grow: 1;
    width: calc((100% + (28px * 5)) / 5);
    margin-top: -1px;

    margin-left: -28px;
    // FIRST CARD
    &:nth-child(1) {
      z-index: 1;
      margin-left: 0px;
    }
    &:nth-child(2) {
      z-index: 2;
    }
    // FIRST CARD
    &:nth-child(3) {
      z-index: 3;
    }
    // FIRST CARD
    &:nth-child(4) {
      z-index: 4;
    }
    // FIRST CARD
    &:nth-child(5) {
      z-index: 4;
    }
  }
}

.collaborators-border {
  & > * {
    border-bottom: solid 1px white;
    border-right: solid 1px white;

    &:nth-child(3n) {
      border-right: 0px;
    }
    &:nth-last-child(1),
    &:nth-last-child(2):not(:nth-child(3n)),
    &:nth-last-child(3):not(:nth-child(3n)):not(:nth-child(2n)) {
      border-bottom: 0px;
    }
  }
}
