/* Content Stylings */

.editor-styling {
  @apply flex flex-col;
  & > * {
    @apply block my-3 first:mt-0 last:mb-0;
  }
  & > p > a {
    @apply underline hover:opacity-50 transition-opacity;
  }
}

/* Heading Defaults */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  @apply p-0 mb-6 font-bold;
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Old versions of Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text;
}

h1,
.h1 {
  @apply font-default p-0 mt-0 mb-4 max-md:max-w-full max-md:break-words;
  @apply text-6xl sm:text-7xl md:text-8xl;
  @apply select-text;
}

h2,
.h2 {
  @apply font-default p-0 mt-0 mb-4;
  @apply text-xl sm:text-2xl md:text-4xl lg:text-4xl;
  @apply select-text;
}

h1.titlestyle {
  @apply flex mb-0 max-md:flex-wrap justify-center items-start font-sans font-normal flex-wrap;
  @apply text-6xl sm:text-7xl lg:text-8xl;
  & .sub {
    @apply font-serif italic font-normal;
    @apply mt-1 mx-3 md:mx-4 md:mt-2 lg:mt-2;
    @apply text-4xl lg:text-5xl;
  }
}

h2.editor-title {
  @apply font-sans font-normal break-words text-left max-md:text-center;
  @apply text-6xl sm:text-7xl lg:text-8xl;
  &.smaller {
    @apply text-4xl sm:text-[3.5rem] sm:leading-none md:text-6xl;
  }
}
