$mobile-width: 768px;
$tablet-width: 1150px;

// Color
$lightergrey: #F0F0F0;
$lightgrey: #DEDCDA;
$gray: #676767;
$offBlack: #181818;

@mixin desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

.setflex-center {
  @apply flex flex-col justify-center items-center content-center;
}

.setflex-center-row {
  @apply flex flex-row justify-center items-center content-center;
}

