/* Webfonts */
@import '_fonts.scss';
@import '_utils.scss';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.scss';
@import '_locomotive.scss';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

/* Other Styling */
@import '_global.scss';

/* Borders */
.container {
  // border: solid 1px blue;
}

.bi {
  border: solid 1px blue;
}

/* Simple defaults */
body {
  @apply font-default tracking-wide font-normal antialiased text-black bg-white;
  overscroll-behavior: none;
}

/* Trigger Animation  */
.trigger {
  @apply transition-colors delay-200 duration-200;
  @apply bg-transparent;

  &.is-inview {
    @apply transition-colors delay-200 duration-1000;
    @apply bg-red-300;
  }
}

// Editorial

#scrollIndicator {
  & > * {
    animation: scrollmove 1.5s linear infinite;
  }
}

@keyframes scrollmove {
  0%,
  10% {
    opacity: 0;
    transform: translateY(-20px);
  }
  40%,
  60% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

// Family

#family-button {
  & > a {
    width: calc(100% / 3);
  }
}

#family-image {
  & > div {
    position: relative;
    width: calc(100% / 8);
    @include mobile {
      width: calc(100% / 3);
    }
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

#family-logo {
  aspect-ratio: 1;
}

// Editorial
.comingsoonSticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  bottom: auto;
  & + .stickySpacer {
    height: 315px;
  }
}

.comingsoonAdj {
  margin-top: -315px;
}

#editorial-slider {
  .editorialCard {
    position: relative;
    width: calc(100% / 5);
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

#swipe-editorial {
  .swiper-slide {
    width: 384px;
    & .article_wrapper {
      @apply px-3 py-6;
      & > a {
        @apply transition-transform duration-300 block relative;
      }
      &.prev-2 > a {
        transform: rotateZ(-4deg) translate(0, 20px);
      }
      &.prev-1 > a {
        transform: rotateZ(-2.5deg) translate(0, 5px);
      }
      &.next-1 > a {
        transform: rotateZ(2.5deg) translate(0, 5px);
      }
      &.next-2 > a {
        transform: rotateZ(4deg) translate(0, 20px);
      }
    }
  }
}

.swiper-pagination-bullets {
  display: none;
}

#swipe-family {
  & .swiper-slide {
    // @apply w-52 #{!important};
  }
}

#swipe-editorial {
  .swiper-slide {
    width: 384px;
  }
}

#swipe-caroussel {
  .swiper-slide {
    @apply w-56 #{!important};

    @include mobile {
      @apply w-36 #{!important};
    }
  }
}

#social {
  & > a {
    position: relative;
    width: 100%;
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

.active {
  opacity: 1;
  transition: opacity 0.5s;
}

.inActive {
  opacity: 0;
  transition: opacity 0.5s;
}

.activeBackground {
  opacity: 0.75;
  transition: opacity 0.5s;
}

.actveBlur {
  filter: blur(4px);
  transition: filter 0.5s;
}