/* Webfonts */
@import '_fonts.scss';
@import '_utils.scss';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.scss';
@import '_locomotive.scss';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

/* Simple defaults */
body {
  @apply font-default tracking-wide font-normal antialiased text-black bg-white;
}

.setflex-center {
  @apply flex flex-col justify-center items-center content-center;
}

/* Trigger Animation  */
.trigger {
  @apply transition-colors delay-200 duration-200;
  @apply bg-transparent;

  &.is-inview {
    @apply transition-colors delay-200 duration-1000;
    @apply bg-red-300;
  }
}

#parallax-issue {
  #background-issue {
    // &>div:first-child {
    //   background-color: black;
    // }
  }
}

#card-search {
  & > div {
    width: calc((100% / 3) - 1.5rem);
    height: 500px;
  }
}

#family-button {
  & > button {
    width: calc(100% / 3);
  }
}

#family-image {
  & > div {
    width: calc(100% / 5);
  }
}

#editorial-slider {
  & > div {
    width: calc(100% / 4);
  }
}