/* Webfonts */
@import '_fonts.scss';
@import '_utils.scss';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.scss';
@import '_locomotive.scss';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

/* Simple defaults */
body {
  @apply font-default tracking-wide font-normal antialiased text-black bg-white;
}

.setflex-center {
  @apply flex flex-col justify-center items-center content-center;
}

/* Trigger Animation  */
.trigger {
  @apply transition-colors delay-200 duration-200;
  @apply bg-transparent;

  &.is-inview {
    @apply transition-colors delay-200 duration-1000;
    @apply bg-red-300;
  }
}

#card-search {
  & > a {
    width: calc((100% / 3) - 1.5rem);
    @include mobile {
      width: 100%;
    }
    height: 500px;
  }
}

#family-button {
  & > a {
    width: calc(100% / 3);
  }
}

#family-image {
  & > div {
    position: relative;
    width: calc(100% / 5);
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

#editorial-slider {
  .editorialCard {
    position: relative;
    width: calc(100% / 5);
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

#link {
  @apply cursor-pointer px-3 rounded-full bg-grayDarkerCard;
  position: fixed;
  bottom: 3%;
  left: 3%;
  z-index: 100000;

  a {
    @apply py-2;
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;

    &:hover {
      .dropdown-content {
        display: block;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
    }
  }
}

.swiper-pagination-bullets {
  display: none;
}

#swipe-family {
  .swiper-slide {
    @apply w-52 #{!important};
  }
}

#swipe-editorial {
  .swiper-slide {
    @apply w-72 #{!important};
  }
}

#swipe-caroussel {
  .swiper-slide {
    @apply w-56 #{!important};

    @include mobile {
      @apply w-36 #{!important};
    }
  }
}

#social {
  & > a {
    position: relative;
    width: 100%;
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}
